@charset "UTF-8";

*{
    margin: .2px;
    padding: .2px;
    font-family: Arial, Helvetica, sans-serif;
}

br{
    display: none;
}

#voltar img{
    margin: 1.5rem 1rem;
    width: 3rem;
    height: 2.5rem;
}

#voltar:hover{
    cursor: pointer;
}

#menu{
    float: right;
    margin: 1.4rem 1rem;
}

.hamburguer {
    width: 2.5rem;
    height: 4px;
    border-radius: 5px;
    background: #3080e8;
    margin: .45rem auto;
}

.hamburguer:hover {
    background: #4030e8;
}

#sideBar {
    position: fixed;
    right: 0;
    top: 0;
    background: rgba(70, 116, 214, 0.925);
    width: 0;
    height: 100%;
    padding: 1.5rem 0;
    transition: .2s;
    z-index: 10;
}

#sideBar a {
    display: block;
    text-align: center;
    margin: 1rem 0.2rem;
    color: white;
    text-decoration: none;
    padding: 10px 8px;
    overflow: hidden;
}

#sideBar a:hover {
    background-color: rgb(210, 105, 30);
}

#sideBar p {
    color: #fff;
    text-align: right;
    width: 15px;
    margin: -.5rem 1.1rem auto auto;
    font-size: 1.3rem;
    padding: 4px 6px;
    border-radius: 5px;
    overflow: hidden;
}


#sideBar p:hover {
    background-color: chocolate;
    cursor: pointer;
}

.imgProduto{
    width: 15rem;
    height: 15rem;
    background-image: url("../media/basket.png");
    background-size: cover;
    margin: auto;
}

.mostradorProdutos{
    margin: auto;
    background: #83838354;
    max-width: 800px;
}

.infoCompra{
    text-align: center;
    margin: 1rem auto 2rem auto;
}

#preco{
    max-width: 800px;
    margin: 5rem auto -4rem auto;
    text-indent: 1rem;
    font-size: 1.5rem;
}

#favoritos{
    text-align: right;
    font-size: 1.5rem;
    max-width: 800px;
    margin: auto;
    cursor: pointer;
}

#favoritos i{
    margin: 1rem;
}

#removerFavorito{
    text-align: right;
    cursor: pointer;
    margin: auto;
    font-size: 1.5rem;
    max-width: 800px;
}

#removerFavorito p{
    margin: auto 1.3rem;
}

#favInfo{
    font-size: normal;
    display: inline-block;
}

#removeFav{
    font-size: normal;
    display: inline-block;
}

#freteInfo{
    color: #696969;
    text-indent: 1rem;
    margin: .5rem auto;
    max-width: 800px;
}

#produtosRestantes{
    text-indent: 1rem;
    margin: 2.5rem auto auto auto;
    max-width: 800px;
}

#descricao{
    max-width: 800px;
    margin: 3rem auto;
    padding: .7rem;
    text-align: justify;
}

#btnCompraECarrinho{
    text-align: center;
    margin: auto;
}

#comprar{
    padding: .5rem;
    max-width: 5.5rem;
    margin: auto auto 1.5rem auto;
    background-color: #3080e8;
    color: #fff;
    font-weight: bold;
    display: inline-block;
}


#comprar:hover{
    background: #4030e8;
    box-shadow: 0 0 50px #4030e8;
    cursor: pointer;
    transition: .2s;
}

#adicionarAoCarrinho{
    text-align: center;
    display: inline-block;
}

#adicionarAoCarrinho lord-icon:hover{
    cursor: pointer;
}

#promptCompra{
    height: 0;
    min-width: 98%;
    margin: auto;
    position: relative;
    z-index: 10;
    overflow: hidden;
    color: white;
    font-size: 1.3rem;
}

#fecharPrompt{
    margin: 1.5rem;
    color: #e42424;
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: right;
    cursor: pointer;
}

#defQuantidade{
    margin-top: 3rem;
    text-align: center;
}

#defQuantidade p{
    margin: 1rem;
}

#maisDeUmProduto:hover{
    text-decoration: underline;
    cursor: pointer;
    transition: .2s;
    margin-top: 1rem;
}

input[type="range"]{
    height: .5rem;
    width: 10rem;
    text-align: center;
    margin: auto;
    border-radius: .2rem;
    -webkit-appearance: none;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 5px #47474771;
    height: 1rem;
    width: 2rem;
    border-radius: .2rem;
    background: #575c61;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type="text"]{
    width: 1.6rem;
    text-align: center;
    background: none;
    border: none;
    color: #333638;
    font-size: 1.5rem;
    margin: 1rem;
}

#btnFinalizarCompra{
    margin: 2rem auto;
    background-color: chocolate;
    width: 10rem;
    padding: 4px 1rem;
}

#btnFinalizarCompra:hover{
    color:#3080e8;
    cursor: pointer;
    transition: .2s;
}

#corProdutos{margin: 2rem auto;}

#colorBlue{
    width: 2rem;
    height: 2rem;
    margin: .5rem .3rem -1rem .3rem;
    background-color: #3080e8;
    display: inline-block;
    cursor: pointer;
}

#colorRed{
    width: 2rem;
    height: 2rem;
    margin: .5rem .3rem -1rem .3rem;
    background-color: #e83030;
    display: inline-block;
    cursor: pointer;
}

#colorYellow{
    width: 2rem;
    height: 2rem;
    margin: .5rem .3rem -1rem .3rem;
    background-color: #e8dc30;
    display: inline-block;
    cursor: pointer;
}

p#info{
    margin-top: 2rem;
    color: #e2e0e0;
    font-size: 1rem;
}

@media screen and (max-width: 750px){
    br{
        display: block;
    }
}