@charset "UTF-8";

* {
    padding: 0.2px;
    margin: 0.2px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --color01: #483d3f;
    --color02: #058ed9;
    --color03: #f4ebd9;
    --color04: #a39a92;
    --color05: #77685d;
    --color06: #393e41;
}

#bg {
    background-image: radial-gradient(rgba(230, 65, 0, 0.788), rgb(238, 107, 14));
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#boasVindas p {
    text-align: center;
}

#loginBox {
    width: 25rem;
    height: 25rem;
    background-color: rgba(255, 255, 255, 0.13);
    text-align: center;
}

i {
    font-size: 3.5rem;
    margin: 4rem auto 3rem auto;
}

.user {
    display: block;
    width: 14rem;
    height: 1.9rem;
    border-radius: 8px 0;
    margin: .3rem auto;
    text-align: center;
    border: none;
    background-color: var(--color06);
    color: white;
}

.user:hover {
    box-shadow: 1px 1px 2px 1px rgb(59, 55, 55);
    transition: 2.s;
}

::placeholder {
    text-align: center;
    color: rgb(196, 189, 189);
}

#googleLogin {
    text-align: center;
    margin: auto;
    width: 235px;
}

input[type="submit"] {
    border-radius: 3px;
    padding: 2px 8px;
    border: none;
    margin: .5rem auto 2.7rem auto;
    background-color: rgba(255, 255, 255, 0.39);
    color: rgb(39, 36, 36);
}

input[type="submit"]:hover {
    background-color: #393e41;
    color: #fff;
    transition: .3s;
}

#loginBox a {
    color: #000;
    margin: .5px auto;
}

#loginBox a:hover {
    color: #fff;
    transition: .2s;
}

#given_name {
    display: none;
    position: fixed;
    background-image: linear-gradient(-90deg, #2a62a3, #8CBFB4, #bed1a5);
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    transition: 10s;
    padding-top: 45vh;
    font-size: 2.3rem;
    font-weight: bolder;
    text-shadow: 0 0 20px #fff;
    transition: .2s;
    color: #fff;
    background-size: 300% 300%;
    animation: bg 15s ease infinite;
}

@keyframes bg {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
